{% include "base.html" %}

{% block container %}
<div class="container">
    <div id="accordion" role="tablist">
      {% for match_info in rugby_monthly_view %}
      {% for competition in competition %}
      <div class="card">
        <div class="card-header" role="tab" id="heading_{{ forloop.counter }}">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapse_{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse_{{ forloop.counter }}">
              {{competition.name}}
            </a>
          </h5>
        </div>
        <div id="collapse_{{ forloop.counter }}" class="collapse" role="tabpanel" aria-labelledby="heading_{{ forloop.counter }}" data-parent="#accordion">
          {% for match in competition.match_set.all %}
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <a href="#"> <!--{% url 'rugby:rugby-scorecard' match.id %} this adds the URL to the scorecard-->
                <img src="{{match.home_team.country.flag}}" alt=""> {{match.home_team}} {{match.home_score}} V
                {{match.away_score}} {{match.away_team}}  <img src="{{match.away_team.country.flag}}" alt="">
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>

</div>
{% endblock %}
